<div class="container">
  <div class="row" id='post'>
    <p id="notice"><%= notice %></p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Crypted password:</b>
      <%= @user.crypted_password %>
    </p>

    <p>
      <b>Salt:</b>
      <%= @user.salt %>
    </p>
  </div>
</div>
<br />





