<div class="page-header">
  <div class="jumbotron">
    <h1>Hello, Movie Geeks!</h1>
    <p>Here you can easily add, remove and update movies titles with his according image. </p>
    <p><%= link_to "Register",new_user_path, { :class=>"btn btn-primary btn-lg" } %></p>
  </div>
</div>

