<div class="row show-grid" id='post'>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class='col-xs-8 col-md-10'>
      <div class="input-group input-group-lg">
        <h1>Editing Movie</h1>  
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>          
</div>
<br>

<%= render 'form' %>


